body {
	background-color: #111;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

h2 {
	font-size: 1em;
	color: #999;
	text-align: center;
	line-height: 10em;
	margin: 0;
}

body, a {
	color: #eee;
}

.title {
	padding: 2em;
	padding-top: 1.25em;
	background-color: #C0650B;
}
.title h1 {
	font-size: 4em;
	margin: 0;
}
.title h3, .title h4 {
	font-size: 1em;
	margin: 0;
}
.title h3 {
	color: #FFDFBF;
}
.title h4 {
	margin-top: 1em;
}
.title a.contact {
	display: inline-block;
	padding: 0.6em 1em;
	background-color: #804307;
	border-radius: 0.2em;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

.project {
	position: relative;
	margin-bottom: 10em;
}
.project .header {
	position: relative;
	padding: 1.5em 2em 2em;
}
.project .header h3 {
	font-size: 2em;
	margin: 0;
}
.project .header .time {
	position: absolute;
	right: 2em;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
	font-size: 1em;
	text-align: right;
}

.project .background {
	min-height: 44em;
	overflow: hidden;
	margin-top: 1.5em;
}

.project .tools {
	position: absolute;
	bottom: 2em;
	right: 2em;
}
.project .tools h4 {
	display: none;
}
.project .tools ul {
	margin: 0;
	padding: 0;
}
.project .tools li {
	display: block;
	float: left;
	font-size: 1em;
	padding: 0.3em 0.5em;
	background-color: #eee;
	border-radius: 0.2em;
	color: #111;
	margin-left: 1em;
}

#contested-space .header {
	background-color: #168012;
	background-position: top;
}
#contested-space .background {
	background-image: url('images/death-blow.jpeg');
	background-position: center;
}

#earbits {
	margin: 0;
}
#earbits .header {
	background-color: #99cb2c;
	color: #111;
}
#earbits .header a {
	color: #111;
}
#earbits .background {
	background-image: url('images/earbits.jpeg');
}

#sdash {
	background-color: #348041;
	margin-bottom: 3em;
}

#resite {
	background-color: #084e80;
}

@media (min-resolution: 100dpi) {

	h2 {
		line-height: 5em;
	}

	.title h3 {
		margin: 0.5em 0 1em;
	}

	.contact {
		font-size: 3em;
	}

	.project .header .time,
	.project .tools {
		font-size: 2em;
	}

}